<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <% if session[:success] %> 
        <p class="flash success"><%= session[:success]  %></p> 
      <% end %>

      <h1>Todo Tracker</h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
