<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <h1>Todo Tracker</h1>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <% if session[:success] %>
      <div class="flash success" id="flash-message">
        <p><%= session.delete(:success)  %></p>
      </div>

      <script type="text/javascript">
        setTimeout(function() {
          document.getElementById('flash-message').style.display = 'none';
        }, 3000); // 3000 milliseconds = 3 seconds
      </script>
    
    <% elsif session[:error] %>
     <div class="flash error" id="flash-message">
       <p><%= session.delete(:error)  %></p>
     </div>

     <script type="text/javascript">
       setTimeout(function() {
         document.getElementById('flash-message').style.display = 'none';
       }, 6000); // 6000 milliseconds = 6 seconds
      </script>

    <% end %>


    <main>
      <%== yield %>
    </main>
  </body>
</html>
