<% if session[:success] %> 
  <div class="flash success" id="flash-message">
    <p><%= session.delete(:success)  %></p> 
  </div>

  <script type="text/javascript">
    setTimeout(function() {
      document.getElementById('flash-message').style.display = 'none';
    }, 3000); // 3000 milliseconds = 3 seconds
  </script>
<% end %>


<ul id="lists">
  <% @lists.each do |list| %>
      <li> 
        <a href="#">
          <h2><%= list[:name] %></h2>
          <p><%= list[:todos].size %></p>
        </a>
      </li> 
  <% end %>
</ul>

<a href="/lists/new">New list</a>
 
